:root {
    --page-height: 100vh;  /* Height equals 100% of the viewport height */
    --page-width: 50vw;    /* Width equals 50% of the viewport width */
    --double-page-padding: 10vw; /* Inner padding */
  }



.loading {
    background-color: #f5f7fc;
    margin: 0;
    padding: 0 0.5rem;
    color: #333333;
    font-family: 'balkara', 'A_la_russ', serif;
    letter-spacing: 0.2em;
    display: flex;
    flex: 1;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
  }
  
.leaflet-popup-content {
  font-family: "Georgia", serif;
  color: #002147; 
  font-size: 14px;
  padding: 4px 6px;
  line-height: 1.5;
}

.leaflet-popup-content strong {
  font-size: 16px;
  color: #001b44;
  display: block;
  margin-bottom: 4px;
}

.leaflet-popup-content a {
  color: #0645AD;
  text-decoration: none;
  border-bottom: 1px dotted #0645AD;
  transition: color 0.2s;
}

.leaflet-popup-content a:hover {
  color: #002147;
  border-bottom: 1px solid #002147;
}

.leaflet-popup-content ul {
  padding-left: 18px;
  margin: 0;
}

.leaflet-popup-content li {
  margin-bottom: 2px;
}

.leaflet-popup-tip,
.leaflet-popup-content-wrapper {
  background-color: #fffefb;
  border: 2px solid #002147;
  border-radius: 12px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
}

===========

.leaflet-popup-content {
  font-family: "balkara", serif;
  color: #636060; 
}

.leaflet-popup-content strong {
  font-family: "A_la_russ", serif;
  color: #003399;
  display: block;
  margin-bottom: 4px;
}

.leaflet-popup-content a {
  color: #286edf;
  text-decoration: none;
  border-bottom: 1px dotted #003399;
  transition: color 0.2s;
}

.leaflet-popup-content a:hover {
  color: #636060;
  border-bottom: 1px solid #002147;
}

.leaflet-popup-content ul {
  padding-left: 18px;
  margin: 0;
}

.leaflet-popup-content li {
  margin-bottom: 2px;
}

.leaflet-popup-tip,
.leaflet-popup-content-wrapper {
  background-color: #f3f3fa;
  border: 2px solid #002147;
  border-radius: 12px;
  box-shadow: 2px 4px 10px #929fb4;
}








/* MAIN LAYOUT */

.article-container::-webkit-scrollbar,
.metadata-panel-left::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, Edge */
}

.article-container,
.metadata-panel-left {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer 10+ */
}

header.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 0;
  width: 100%;
}

main.article {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.article-container {
  overflow-y: auto;
  height: 100vh;
}


.metadata-container {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  max-height: 100vh;
  width: 46.5vw; 
}

.metadata-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-height: 100vh;
  width: 46.5vw;
}

/* METADATA */

/* layout */

.metadata-upper {
  width: 100%;
  height: 50vh;
  min-height: 50%;
  padding: 1rem;
}

.metadata-bottom {
  width: 90%;
  height: 40%;
}

.separator {
  margin: 2rem 2rem 0rem 2rem;
  opacity: 0.9;
}

.separator div{
  -moz-text-align-last: justify;
       text-align-last: justify;
}

#metadata_annotation_line1 {
  font-size: 1.7rem;
  font-family: 'A_la_russ', serif;
  letter-spacing: 0.4rem;
}

#metadata__annotation_line2 {
  font-size: 0.8rem;
  font-family: 'A_la_russ', serif;
  letter-spacing: 0.3rem;
}

/* tag lists */


.lists-container {
  max-height: 28vh;
  overflow-y: auto; 
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #f5f7fc transparent; 
}

.lists-container::-webkit-scrollbar {
  width: 3px; 
}

.lists-container::-webkit-scrollbar-thumb {
  background-color: #f5f7fc; 
  border-radius: 10px; 
}


.metadata-list-container.active {
  display: block;
  -webkit-animation: fadeIn 0.5s ease-in-out;
          animation: fadeIn 0.5s ease-in-out;
}

.metadata-list-container {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.metadata-list {
  margin: 0;
  padding: 0;
  column-count: 4; 
  column-gap: 1rem; 
  max-height: 35vh; 
  overflow-y: auto; 
}

.metadata-list ul {
  margin: 0;
  padding: 0;
}

.metadata-list li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  break-inside: avoid;
}

.metadata-entry {
  font-family: 'A_la_russ', serif;
  font-size: 0.8rem;
  text-decoration: none;
  color: #333333;
}

.metadata-entry:hover {
  font-weight: 800;
  cursor: pointer;
}

.metadata-entry.active {
  position: relative;
  padding-right: 2rem;
}

.metadata-entry.active::after {
  content: "";
  display: inline-block;
  width: 16px; 
  height: 16px;
  background-image: url('/images/ghzel/choise_sign.png'); 
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5px; 
}

.metadata-entry[data-wiki^="https"]::after {
  content: '*';
  display: inline-block;
}

.metadata-list li a:hover {
  font-weight: 800;
}

.metadata-list li {
  margin: 0;
  padding: 0;
  break-inside: avoid; 
  page-break-inside: avoid; /* For Firefox */
}


.list-block-heading {
    text-align: center;
    display: block;
    font-family: 'A_la_russ', serif;
    font-weight: 800;
}


/* dates */

.dateList {
  column-count: 3;
}


.date-year {
  break-inside: avoid; 
  display: flex;
  flex-direction: column;
  align-items: center;
}


.year-entry {
  line-height: 1.2rem;
  font-family: 'A_la_russ', serif;
  font-size: 0.875rem;
  text-decoration: none;
  color: #333333;
}

.month-entry {
  font-family: 'A_la_russ', serif;
  text-indent: 3rem;
  font-size: 0.875rem; 
  text-decoration: none;
  color: #333;
  transform: rotate(1deg);
  text-transform: capitalize;
}


.year-entry:hover, .month-entry:hover{
  font-weight: 800;
  cursor: pointer;
}


/* Map */

.marker {
  background-image: url('/images/ghzel/marker_map.png');
  background-size: cover;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  transition: width 0.3s, height 0.3s;
}


.marker:hover {
  width: 1.8rem;
  height: 1.8rem;
}

.mapboxgl-ctrl-logo {
    display: none !important;
}

.mapboxgl-popup-content {
  font-family: 'A_la_russ', serif;
  padding: 0.2rem 0.3rem;
  background-color: #f5f7fc;
  border: 2px solid #003399;
  border-radius: 8px; 
  box-shadow: 2px 2px 6px #dfe0e2; 
  opacity: 0; 
  transform: scale(0.95); 
  animation: fadeIn 0.3s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


body.home .mapboxgl-popup-content {
  font-family: 'A_la_russ', serif;
  padding: 0.2rem 0.3rem;
  background-color: #f5f7fc;
  border: 2px solid #003399;
}

.mapboxgl-popup-content > h3 {
  margin: 0;
}

.mapboxgl-popup-content > p {
  text-align: left !important;
  text-align-last: left !important;
  max-width: 100%; 
  word-wrap: break-word; 
}

@media (max-width: 600px) {
  .mapboxgl-popup-content {
    font-size: 14px; 
    padding: 10px;
  }
}

.mapboxgl-popup-content > p::first-letter {
  all: unset !important;
}

.mapboxgl-popup-tip {
  color: #f5f7fc;
  opacity: 0.8;
  border: 2px solid #003399;
}

.mapboxgl-popup-close-button {
  display: none;
}

.article-map-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}

.article-map-container.active{
  visibility: visible;
  opacity: 1;
}

.article-map-container,
.wiki-container {
  height: 100%;
  width: 100%;
}

/* .metadata-upper {
  -o-border-image: url("../img/1500/upper-border.png");
     border-image: url("../img/1500/upper-border.png");
  border-image-slice: 27 31 27 22;
  border-image-width: 10px 10px 10px 10px;
  border-image-outset: 10px 15px 10px 10px;
  border-image-repeat: stretch stretch;
} */

.article-map {
  height: 100%;
  width: 100%;
  border-image: url("/images/ghzel/map_border.png");
  border-image-slice: 90;
  border-image-width: 40px;
  border-image-outset: 20px;
  border-image-repeat: round;
}


/* WIKI */

.wiki-container {
  display: none;
  position: relative;
  z-index: 1;
  background-color: transparent;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.wiki-container.active {
  display: flex;
}


.wiki-preview-container {
  display: none;
  flex: 0 0 40%;
  padding-left: 2rem;
  justify-content: center;
}

.wiki-preview-container.active {
  display: flex;
}


/*.wiki-preview {
  border-image-slice: 25 32 25 32 fill;
  border-image-width: 12px 12px 12px 12px;
  border-image-outset: 8px 12px 10px 10px; 
  border-image-repeat: round round;
  border-image-source: url('../img/1500/image-borders.png');
  max-height: 100%;
  max-width: 100%;
}*/

.wiki-text {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 60%;
  padding-right: 2.5rem;
}


.wiki-extract {
  overflow-y: auto; 
  text-indent: 1rem;
  text-align: justify;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #eceef4 transparent; 
}

.wiki-extract::-webkit-scrollbar {
  width: 1rem;
}

.wiki-extract::-webkit-scrollbar-thumb {
  background-color: #eceef4; 
  border-radius: 10px; 
}


.wiki-readmore {
  text-align: center;
  text-decoration: none;
  color: #333333;
  text-decoration: underline #f5f7fc;
  transition: text-decoration-color 300ms;
  margin-top: 2rem;
}

.wiki-readmore:hover {
  cursor: pointer;
  text-decoration-color: #333333;
}

.wiki-close {
  position: absolute;
  top: -1rem;
  right: -1rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url('/images/ghzel/close_wiki.png');
  background-size: contain;
  background-position: center;
  padding: 0.5rem;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.wiki-close:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.wiki-loading {
  position: absolute;
  inset: 0; 
}

.wiki-loading p {
  font-family: 'A_la_russ', serif;
  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Article */

.article-container {
  width: 46.5vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  flex: 0 0 50%;
  padding: 2rem;
  opacity: 0.9;
}

.cover-page {
  height: 96vh;
  display: grid;
  overflow: hidden;
  padding-bottom: 2rem;
  grid-template-rows: fit-content auto 5% 5%;
}

.titles {
  grid-row: 1;
  margin-bottom: 1rem;
}

.article-date {
  grid-row: 3;
}

.article-source {
  grid-row: 4;
}


.article-date {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Blagovest', serif;
  font-size: 1.2rem;
  font-weight: 100;
  text-transform: uppercase;
  margin: 1rem 1rem 0 1rem;
}

.article-source {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Blagovest', serif;
  font-size: 1.2rem;
  font-weight: 100;
  font-style: italic;
  text-decoration: none;
  height: fit-content;
  color: #003399;
}

.cover-page > .titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}


.titles > * {
  margin: 0;
}

.article-title {
  font-family: 'Blagovest', serif;
  font-size: clamp(3rem, 10vh, 6rem); 
  font-weight: 100;
  letter-spacing: 0.2em;
  margin: 0;
  text-transform: uppercase;
}

.by {
  font-family: 'Blagovest', serif;
  font-size: 1.5em;
  font-weight: 100;
  letter-spacing: 0.2em;
  margin: 0;
  text-transform: capitalize;
}

.article-author {
  font-family: 'A_la_russ', serif;
  font-size: clamp(1.2rem, 1.5vw, 1.8rem); 
  line-height: 2.5rem;
  letter-spacing: 0.5rem;
  font-weight: 100;
  text-transform: uppercase;
}

.article-subtitle {
  font-family: 'A_la_russ', serif;
  font-size: clamp(1.3em, 1.7vw, 2em); 
  font-weight: 100;
  letter-spacing: 0.2rem;
}

h2, h3, h4, h5 {
  font-family: 'A_la_russ', serif;
  font-weight: 100;
  text-align: center;
}

h2 {
  font-size: 1.7rem; 
  margin-top: 3rem;
}

h3 {
  font-size: 1.5rem; 
  margin-top: 2.5rem;
}

h4 {
  font-size: 1.3rem; 
  margin-top: 2rem;
}

h5 {
  font-size: 1rem;
  margin: 3rem 0 1rem 0;
}

.article-text p {
  hyphens: auto;
  text-align: justify;
  margin: 0;
  text-indent: 1rem;
  font-variant-numeric: lining-nums;
  line-height: 1.5rem; 
}

.article-text a {
  color: #333333;
  text-decoration: underline; 
  transition: color 0.3s ease; 
}

.article-text a:hover {
  color: #1f1f1f; 
}

.drop-cap {
  color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 3rem; 
  height: 3rem;
  font-size: 0;
  float: left;
  margin-right: 0.5rem; 
  line-height: 3rem; 
  display: flex;
  align-items: center;
  justify-content: center;
}


.text-block:not(:nth-of-type(2)) p:first-child::first-letter {
  font-size: 2rem;
  line-height: 2.5rem;
  float: left;
  margin-right: 0.3rem;
  margin-bottom: -0.5rem;
  padding-right: 0;
  font-weight: bold;
  color: #0047AB;
}  

.pull-quote {
  text-align: center;
  font-size: clamp(1.5rem, 3vw, 2.5rem); 
  font-family: 'Blagovest', serif;
  margin: 2rem auto;
  font-weight: 100;
  max-width: 80%; 
  line-height: 1.4; 
  
}
  

figure > img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0;

}
  
figure:not(.cover-image) > .image-description {
  font-family: 'A_la_russ', serif;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem; 
  font-weight: 800;
  letter-spacing: 0.5rem;
  max-width: 100%;
  text-align: center;
  
}
  
figure:not(.cover-image) {
  margin-top: 1rem; 
}
  
figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem; 
}
  
figure figcaption {
  max-height: 40vh;
  font-family: 'A_la_russ', serif;
  font-size: 0.8em;
  text-align: center;
  margin-top: 0; 
  
}
  
.ending-paragraph {
  text-align: center;
  font-family: 'A_la_russ', serif;
  font-size: 1.4rem;
  line-height: 1.6rem; 
  font-weight: 100;
  margin: 2rem auto;
  hyphens: manual;
  max-width: 80%; 
  
}
  
.ending-paragraph > p {
  text-align: center;
  margin: 0 auto;
  
}
  
.ending-paragraph::before {
  content: '';
  float: left;
  width: 18vw;
  height: 10rem;
  shape-outside: polygon(0% 0%, 80% 100%, 0% 100%);
  margin-right: 1rem; 
}  
  
.ending-paragraph > p::before {
  content: '' !important;
  float: right;
  width: 18vw;
  height: 10rem;
  shape-outside: polygon(100% 0%, 0% 100%, 100% 100%);
  margin-left: 1rem; 

}  

/* MEDIA QUERIES */

@media only screen and (max-width: 1000px) {
  body.article {
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }
}

header.article{
    display: none;
}

.article-container {
  flex-basis: 100%; 
  padding: 2rem 3rem;
  transition: opacity 0.5s ease-in-out;
  align-items: initial; 
}

.cover-image > figcaption {
  max-height: 30vh;
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
}

.separator {
  margin-top: 2rem;
  text-align: justify;
  text-align-last: left; 
}

.metadata-container {
  position: absolute;
  width: 100%;
  height: 80vh;
  bottom: -100vh;
  background-color: #f5f7fc;
  background-image: url("/images/ghzel/porcelain.avif");
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  opacity: 0;
  box-shadow: inset 0px 0px 60px 0px #e4e6eb, 1px -3px 20px 0px #100f0fc0;
  transition: opacity 0.5s ease-in-out, bottom 0.5s ease-in-out;
}

.metadata-container.active {
  bottom: 0;
  opacity: 1;
}

@keyframes slide-up {
0% {
  bottom: -100vh;
  opacity: 0;
}
100% {
  bottom: 0;
  opacity: 1;
}
}

@keyframes slide-down {
0% {
  bottom: 0;
  opacity: 1;
}
100% {
  bottom: -100vh;
  opacity: 0;
}
}

.metadata-upper {
  height: 40vh; 
  border-image-outset: 25px;
  padding: 0;
  min-height: auto; 
  border-image-slice: 30;
  border-image-width: 10px;
}

.article-map {
  border-image-slice: 30; 
  border-image-width: 30px; 
  border-image-outset: 18px; 
  border-image-repeat: round; 
}

.wiki-container {
  position: absolute; 
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  padding: 0;
  display: flex;
  flex-direction: column; 
}

.wiki-preview-container {
  display: none !important;
  height: 100%;
  padding: 0;
}

.wiki-text {
  padding: 0;
  gap: 2rem; 
}

.wiki-readmore {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.wiki-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  background-image: url('../img/close_wiki.png');
  background-size: cover;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.article-container.covered {
  opacity: 0.7;
  transition: opacity 0.5s ease-in-out;
}

.fab-wrapper {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 99;
}

.fab-icon {
  cursor: pointer;
  height: 4rem;
  width: 2rem;
  background-image: url('/images/ghzel/fab.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  filter: drop-shadow #0047AB;
}

.fab-buttons {
  display: none;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.fab-button {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  background-color: #0047AB;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.4s ease-in-out, transform 0.3s ease-out;
  color: white;
}

.fab-wrapper.active .fab-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.fab-wrapper.active .fab-button {
  opacity: 1;
  transform: scale(1);
}

.fab-wrapper.active #fab-style-button {
  transform: translate(0px, -100px);
}

.fab-wrapper.active #fab-home-button {
  transform: translate(-50px, -70px);
}

.fab-wrapper.active #fab-metadata-button {
  transform: translate(-70px, -20px);
}

#section-hero {
  position: relative;
}

#section-hero::before {
  content: "";
  display: block;
  width: 80vw;
  height: 20vh;
  background-color: #f5f7fc;
}

.hero-text-container > h1 {
  font-size: clamp(2rem, 13vw, 10rem) !important;
}

main.home {
  width: clamp(60vw, 80vw, 1200px) !important;
  margin: 0 auto;
}

footer.home > .container > .plp-row {
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
}

.card {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 1rem;
}

.card > .container {
  text-align: center;
}

.card > .container > .center {
  width: 100%;
  text-align: center;
}

.card > .container > .center > h3 {
  text-align: center !important;
}

/* Documentation Page */

.documentation {
  max-width: 100%;
}

.documentation > .cover-page > .titles > .article-title {
  font-size: 3.5rem !important;
}

.documentation .text-block:not(:first-of-type) > h3 + p::first-letter, 
.documentation h5 + p::first-letter {
  font-size: 2rem;
  line-height: 2.5rem;
  float: left;
  margin-right: 0.2rem;
  margin-bottom: -1rem;
  padding-right: 0;
}
