/* gzhel.css */

/* Title font */
@font-face {
    font-family: 'Blagovest';
    src: url('/fonts/Blagovest.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Applying font for the titles */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Blagovest', serif;
  }
  
  /* Map element styles */
#map {
  height: 100%;
  width: 100%;
}

/* Map container styles */
.map-container {
  position: fixed !important;
  top: 56px; /* Height of the navbar */
  left: 0;
  right: 0;
  height: 400px;
  z-index: 100;
  background-color: white;
}

/* Placeholder map styles */
.placeholder-map {
  background-color: #e9ecef;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}