/* gzhel.css */

body {
  background: #e6ecfa; /* Sets a light background for the page with cold gray shade */
  margin: 0; /* Removes outer margins to make the page occupy the full screen */
  padding: 0 2rem; /* Removes inner padding */
  display: flex; /* Sets the body as a flex container */
  flex-direction: column; /* Aligns elements inside the body vertically */
}



/* Title font */
@font-face {
    font-family: 'Blagovest';
    src: url('/fonts/Blagovest.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Applying font for the titles */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Blagovest', serif;
  }