/* suprematism.css */

/* Title font */
@font-face {
    font-family: 'Bootshaus';
    src: url('/fonts/Bootshaus.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Applying font for the titles */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Bootshaus', serif;
  }