<!-- footer.html -->
<footer class="home" id="footer">
  <div class="container p-4">
    <h5 class="footer-title">Dictators’ Handbook</h5>
    <p class="footer-text">
      This website is a project developed by Evgeniia Vdovichenko and Ludi Yang for the course 
      <a href="https://www.unibo.it/en/study/phd-professional-masters-specialisation-schools-and-other-programmes/course-unit-catalogue/course-unit/2024/454464" target="_blank">
          Information Modeling and Web Technologies
      </a> held by 
      <a href="https://www.unibo.it/sitoweb/fabio.vitali/" target="_blank">Professor Fabio Vitali</a>.
    </p>
    <div class="footer-copyright">
      © 2025 Copyright: Evgeniia Vdovichenko, Ludi Yang
    </div>
  </div>
</footer>