<!-- footer.html -->
<footer class="home" id="footer">
  <div class="container p-4 text-center">
    <h5 class="mb-3">Dictators’ Handbook</h5>
    <p class="footer-text">
      This website is a project developed by Evgeniia Vdovichenko and Ludi Yang for the course 
      <a href="https://www.unibo.it/en/teaching/course-unit-catalogue/course-unit/2023/454464">
          Information Modeling and Web Technologies
      </a> held by 
      <a href="https://www.unibo.it/sitoweb/fabio.vitali/">Professor Fabio Vitali</a>.
    </p>
    <div class="p-3">
      © 2025 Copyright: Evgeniia Vdovichenko, Ludi Yang
    </div>
  </div>
</footer>