<!-- Header (header.html) -->
<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">

      <!-- Mobile toggle button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible menu -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">

  <!-- Home (только для страницы статьи) -->
  <li class="nav-item article-only" style="display: none;">
    <a class="nav-link" href="/index.html">Home</a>
  </li>

  <!-- About (только на главной) -->
  <li class="nav-item main-only">
    <a class="nav-link" href="#About">About</a>
  </li>

  <!-- Issues -->
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="issuesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Issues
    </a>
    <ul class="dropdown-menu" aria-labelledby="issuesDropdown">
      <li class="dropdown-submenu position-relative">
        <a class="dropdown-item dropdown-toggle" href="#">Stalin</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/Issues/1/last_days_of_soviet_dictator.html">The Last Days of the Soviet Dictator</a></li>
          <li><a class="dropdown-item" href="/Issues/1/joseph_stalin_paranoid_purge.html">Joseph Stalin's Paranoid Purge</a></li>
          <li><a class="dropdown-item" href="/Issues/1/world_that_made_stalin.html">The World That Made Stalin</a></li>
        </ul>
      </li>
      <li class="dropdown-submenu position-relative">
        <a class="dropdown-item dropdown-toggle" href="#">Mao</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/Issues/2/house-of-mao.html">House of Mao</a></li>
          <li><a class="dropdown-item" href="#">New Bio Offers Sinister View</a></li>
          <li><a class="dropdown-item" href="#">Egg Fried Rice Scandal</a></li>
        </ul>
      </li>
    </ul>
  </li>

  <!-- Change Design -->
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="styleDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Change Design
    </a>
    <ul class="dropdown-menu" aria-labelledby="styleDropdown">
      <li><a class="dropdown-item" href="#" data-style="/css/gzhel.css">Old Russian Gzhel</a></li>
      <li><a class="dropdown-item" href="#" data-style="/css/suprematism.css">Suprematism</a></li>
      <li><a class="dropdown-item" href="#" data-style="/css/design3.css">Design 3</a></li>
      <li><a class="dropdown-item" href="#" data-style="/css/design4.css">Design 4</a></li>
    </ul>
  </li>

  <!-- Explore the Map -->
  <li class="nav-item main-only">
    <a class="nav-link" href="#map_intro">Explore the Map</a>
  </li>

  <!-- Documentation -->
  <li class="nav-item">
    <a class="nav-link" href="#" target="_blank">Documentation</a>
  </li>

  <!-- Disclaimer -->
  <li class="nav-item">
    <a class="nav-link" id="disclaimer-button">Disclaimer</a>
  </li>

</ul>
        
      </div>
    </div>
  </nav>
</header>

