@import "./fonts.css";
@import "./reset.css";
@import "./assets/animation.css";

/* styles for gzhel */
@import "./gzhel.css";

/* styles for suprematizm */
@import "./suprematizm.css";


@keyframes opacity {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes translate {
    0% {
        opacity: 0;
        transform: translate(-100%, 0);
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(200%, 0);
    }
}

.content main {
    height: 100%;
    overflow: auto;
}